*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(59, 59, 226);
    margin: 0 auto;
    width: 90%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;    
    color: hsl(0, 0%, 100%);
}

label, span, li, input, p, textarea, select {
    font-family: 'Roboto', sans-serif;   
    color: hsl(0, 0%, 100%);
}

ul {
    list-style: none;
}

.header-principal{
    background-color: hsl(240, 74%, 56%);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.header-title{
    transform: translateX(-30%);
}

.menu svg{
    fill:hsl(0, 0%, 100%);
    width: 2.5rem;
}

.filter-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
}

.filters {
    background-color: white;
}

.filters svg {
    fill: rgb(127, 178, 245);
    width: 2rem;
}

main{
    display:block;
}

.interface {
    display: flex;
    gap: 3rem;
}

.registers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    background-color: hsl(240, 74%, 56%);
    font-size: 20px;
}

.registers svg{
    fill:white
}

.register{
    gap: 3rem;
}

.modify-register{
    display: flex;
    background-color: hsl(194, 100%, 50%);
    justify-content: flex-end;
    padding: 0.5rem 0;
}

.edit{
    width: 30px;
}

.delete{
    width: 30px;
}

.register-data{
    background-color:hsl(240, 79%, 68%);
    padding: 0.5rem;
}

.register-data ul li{
    color:hsl(0, 0%, 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.register-data ul li span{
    font-weight: 600;
}

.register-data ul li span::after{
    content: ":";
    margin-right: 0.5rem;
}

.form {
    background-color: hsl(240, 74%, 56%);
    flex: 2;
}

.form-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: white;
    padding-right: 0.5rem;
}

.tabs{
    display: flex;
}

.tab{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.tab.active{
    background-color: hsl(194, 100%, 50%);
}

.tab.active h2{
    color:hsl(0, 0%, 100%);
}

.tab h2{
    color:hsl(194, 100%, 50%);
}

.form-buttons{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.form-clear svg, .form-save svg {
    width: 2rem;
}

.form-clear svg path, .form-save svg path{
    fill: rgb(127, 178, 245);
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.form-element{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: hsl(240, 74%, 56%);
    margin-bottom: 0.5rem;
    width: 49%;
}

.form-label{
    font-size: 150%;
    font-weight: bold;
}

.form-element input{
    border: none;
    padding: 0.5rem;
    width: 100%;
    background-color: hsl(240, 79%, 68%);
}
